@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
    --bs-primary-rgb: 219, 106, 41; /* Customize your primary color */
    --bs-heading-color: 219, 106, 41;
    --bs-link-color-rgb: 66, 157, 33; /* Customize your secondary color */
}
body {
    background-color:  #fff4f4;
    background-image: url('/img/bg-image.png');
    background-repeat: no-repeat;
    background-size: contain;
}
    
.mystery-font {
    text-shadow: 1px 1px 1px #fff;
    font-family: "Mystery Quest", system-ui;
}

.mochiy-pop-font {
    font-family: "Mochiy Pop One", sans-serif;
    font-weight: 100;
    font-style: normal;
    text-shadow: 1px 1px 1px #000;
    }
    
.indie-flower-font {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    text-shadow: 1px 1px 1px #b7b7b7;
}
  
        
.orange-font {
    color: rgb(219, 106, 41);
}

.brown-color {
    color: #642B32;
}

.card-img-top {
    height: 226px;
    width: auto;
}

@media (min-width: 768px) {
    .logo-container img {
        width: 200px; /* size for tablet and up */
    }
    /* .card-img-top {
        max-height: 350px;
    } */
}

@media (min-width: 992px) {
    .logo-container img {
        width: 300px; /* size for desktop */
    }
}

.random-background-1 { background-color: #82c548; }
.random-background-2 { background-color: #fad110; }
.random-background-3 { background-color: #f79d1e; }
.random-background-4 { background-color: #ed3686; }
.random-background-5 { background-color: #db1f8d; }
.random-background-6 { background-color: #fdf31e; }
.random-background-7 { background-color: #f26451; }
.random-background-8 { background-color: #5fac42; }
.random-background-9 { background-color: #1c549c; }
.random-background-10 { background-color: #2cc5c5; }
.random-background-11 { background-color: #e69343; }
.random-background-12 { background-color: #be814c; }

/* .bg-fixed {
    background-color: #be814c !important;
} */
    
/* .modal-header,
.modal-footer {
    background-color: #be814c !important;
} */

.modal-title {
    color: #fff;
}

.card {
    border: none;
    -webkit-box-shadow: 2px 2px 2px 2px #926136;
    box-shadow: 2px 2px 2px 2px #926136;
}

.card .card-body {
    border-radius: 0 0 0.375rem 0.375rem;
    -webkit-border-radius: 0 0 0.375rem 0.375rem;
    -moz-border-radius: 0 0 0.375rem 0.375rem;
    -ms-border-radius: 0 0 0.375rem 0.375rem;
    -o-border-radius: 0 0 0.375rem 0.375rem;
}

.icon-cta {
    height: 50px;
    width: 50px;
    transform: rotate(45deg);
    left: 86%;
    bottom: 83%;
}


.whatsapp_wrap {
    bottom: 70%;
    left: 10px;
    opacity: 1;
    transition: opacity 0.5s ease 0s;
    box-sizing: border-box;
    direction: ltr;
    position: fixed !important;
    z-index: 16000160 !important;
  }
  .whatsapp_wrap .whatsapp_btn {
    display: flex;
    margin-top: 14px;
    position: relative;
    justify-content: flex-start;
  }
  .whatsapp_wrap .whatsapp_btn a {
    width: 50px;
    height: 50px;
    order: 1;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 6px;
    transition: all 0.5s ease 0s;
    position: relative;
    z-index: 200;
    display: block;
    border: 0px;
    background: #4dc247 !important;
    color: #4dc247;
  }





  .cookie-consent {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.cookie-consent p {
    margin: 0;
    display: block;
    margin-bottom: 10px;
}

.cookie-options {
    text-align: left;
    margin-bottom: 10px;
}

.cookie-options label {
    display: block;
    margin-bottom: 5px;
}

.cookie-options input {
    margin-right: 10px;
}

.cookie-consent button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
}

.cookie-consent button:hover {
    background-color: #0056b3;
}

#rejectAll {
    background-color: #dc3545;
}

#rejectAll:hover {
    background-color: #c82333;
}


.btn-close {
    color: #fff !important;
    fill: #fff !important;
    stroke: #fff !important;
    filter: invert(1);
}

.botones-personalizados {
    --bs-btn-bg: #f0a71f; /* Cambiar el color de fondo a un verde */
    --bs-btn-hover-bg: #f0a71f; /* Cambiar el color de fondo al pasar el ratón */
    --bs-btn-border-color: #f0a71f; /* Cambiar el color del borde */
}